# Testing William fractal strategy

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import clear_output
import datetime

import ta, pickle, json, time
import mplfinance as fplt

# Import

In [39]:
def ema(df, windows=[20]):
    emas = []
    for x in windows:
        emas.append(
            ta.trend.sma_indicator(close=df.close, window=x, fillna=True)
        )
    return emas

df = pd.read_csv("data 1 year/BTCUSDT-1m-data.csv")
df["Date"] = pd.to_datetime(df.timestamp, format='%Y-%m-%d %H:%M:%S')
df['ema10'] = ta.trend.sma_indicator(close=df.close, window=10, fillna=True)
df['ema20'], df['ema50'], df['ema100'] = ema(df, [20, 50, 100])
df = df.drop(["quote_av", "trades", "tb_base_av", "tb_quote_av", "ignore"], axis=1)
df = df.set_index("Date")
df

,timestamp,open,high,low,close,volume,close_time,ema10,ema20,ema50,ema100
Date,,,,,,,,,,,
2020-07-11 22:17:00,2020-07-11 22:17:00,9226.00,9226.00,9223.30,9224.20,8.967077,1594505879999,9224.200000,9224.200000,9224.200000,9224.200000
2020-07-11 22:18:00,2020-07-11 22:18:00,9224.21,9225.00,9223.02,9223.80,11.122493,1594505939999,9224.000000,9224.000000,9224.000000,9224.000000
2020-07-11 22:19:00,2020-07-11 22:19:00,9223.78,9226.46,9223.05,9225.99,14.178658,1594505999999,9224.663333,9224.663333,9224.663333,9224.663333
2020-07-11 22:20:00,2020-07-11 22:20:00,9225.99,9232.06,9225.99,9231.96,53.251515,1594506059999,9226.487500,9226.487500,9226.487500,9226.487500
2020-07-11 22:21:00,2020-07-11 22:21:00,9231.96,9235.00,9231.96,9235.00,22.051639,1594506119999,9228.190000,9228.190000,9228.190000,9228.190000
...,...,...,...,...,...,...,...,...,...,...,...
2021-07-11 22:13:00,2021-07-11 22:13:00,34464.07,34499.00,34457.49,34462.99,57.726496,1626041639999,34510.195000,34508.103000,34450.201800,34171.675900
2021-07-11 22:14:00,2021-07-11 22:14:00,34462.98,34478.60,34448.99,34451.15,33.589879,1626041699999,34502.295000,34507.281500,34455.760400,34176.711700
2021-07-11 22:15:00,2021-07-11 22:15:00,34451.14,34451.98,34403.22,34424.54,115.045592,1626041759999,34490.504000,34505.259000,34460.725200,34181.754600
2021-07-11 22:16:00,2021-07-11 22:16:00,34424.54,34424.54,34381.83,34381.84,61.389608,1626041819999,34470.835000,34501.375000,34465.120200,34186.396300
2021-07-11 22:17:00,2021-07-11 22:17:00,34381.84,34394.53,34359.85,34389.98,84.824510,1626041879999,34454.123000,34496.680500,34469.677800,34191.092000

In [3]:
trades = pd.read_csv("data 1 year/trades_adapt.csv")
trades

,i,timestamp,Action,Start,End,Benef,Duration
0,41,2020-07-11 22:56:00,SELL,9218.46,9222.677135,-4.217135,6
1,46,2020-07-11 23:01:00,SELL,9218.39,9222.292065,-3.902065,1
2,83,2020-07-11 23:38:00,BUY,9239.28,9254.287386,15.007386,36
3,402,2020-07-12 04:57:00,SELL,9269.11,9273.528564,-4.418564,1
4,419,2020-07-12 05:14:00,SELL,9262.16,9271.736135,-9.576135,22
...,...,...,...,...,...,...,...
8579,523578,2021-07-11 04:26:00,SELL,33312.83,33462.672779,-149.842779,22
8580,523728,2021-07-11 06:56:00,SELL,33457.79,33520.048921,-62.258921,7
8581,523731,2021-07-11 06:59:00,SELL,33441.33,33516.240536,-74.910536,4
8582,524509,2021-07-11 19:57:00,SELL,33894.57,33918.892172,-24.322172,3
8583,524560,2021-07-11 20:48:00,SELL,33868.67,33794.822516,73.847484,15

# Plot finance

In [40]:
for i, timestamp, Action, Start, End, Benef, Duration in trades.values[:50]:
    extra_plot = fplt.make_addplot(df[i-30:i].loc[:, ["ema10", "ema20", "ema50", "ema100"]])
    fplt.plot(
        df[i-30:i],
        addplot=extra_plot,
        type='candle',
        style='charles',
        title='BTC USDT',
        ylabel='Price',
        volume=True
    )
    print(i)
    print(timestamp)
    print(Duration)
    print(Action)
    print(Benef)
    
    input("Enter : ")
    clear_output()

# Analyse

In [57]:
v_L = []
v_P = []
for i, timestamp, action, start, end, benef, duration in trades.values:
    if benef < 0:
        v_L.append(df[i-5:i].volume.mean()/df[i-30:i].volume.mean())
    else:
        v_P.append(df[i-5:i].volume.mean()/df[i-30:i].volume.mean())
v_L = np.array(v_L)
v_P = np.array(v_P)

In [58]:
v_P.mean()

0.8808080260116253

In [59]:
v_L.mean()

0.8743410680878775

In [54]:
df.iloc[i].volume

6.643672